.App {
  background-color: #282c34;
  color: #FFFFFF;
  margin: auto;
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 1fr;
}