@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: DM Sans,system-ui,sans-serif;
    background: #161718;
    background-size: 224px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #161718;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}