---
import HeaderSection from '../components/HeaderSection.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div id="app" class="overflow-auto max-w-[70%] opacity-87 relative h-screen p-2 gap-2 border-2 border-white">
			<header class="overflow-auto min-h-[100%] flex-col flex relative border-2 border-white">
				<HeaderSection/ >
			</header>

			<main class="overflow-auto min-h-[100%] relative border-2 border-white">
				main
			</main>
			
			<footer class="overflow-auto min-h-[100%] relative border-2 border-white">
				footer
			</footer>
		</div>
		<slot />
	</body>
</html>
<style>
	#app {
		color: #FFFFFF;
		margin: auto;
		display: grid;
		text-align: center;
		align-items: center;
		justify-content: space-evenly;
		height: 100%;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 5fr 1fr;
	}
</style>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
