---
interface Props {
    href?: string
}

const { href } = Astro.props;
---
<li>
    <a class="max-w-[70%] w-[120px] flex gap-1 text-zinc-300 hover:text-white items-center transition duration-300 justify-center" href={href}>
        <slot />
    </a>
</li>